*{
	margin: 0 auto;
	text-align: center;
}

body{
	background-image: url(https://i.pinimg.com/originals/76/dc/af/76dcafc26efcb4fd9cc77292fce442be.png);
	height: 100vh;
	background-size: cover; 
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	font-size: 55px;
	font-family: 'Holtwood One SC', serif;
	color: #fff;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

ul li:hover {
    color: black;
    cursor: pointer;
}

ul li:hover span {
    transform: translateY(0) scale(2);
}

ul li span:nth-child(1) {
    --n: 1;
}

ul li span:nth-child(2) {
    --n: 2;
}

ul li span:nth-child(3) {
    --n: 3;
}

ul li span:nth-child(4) {
    --n: 4;
}
a{
	text-decoration: none;
}
